reflex==0.7.11
# reflex-clerk==1.0.3
git+https://github.com/supmo668/reflex-clerk.git
pytest==8.4.0
Authlib==1.6.0
python-dotenv==1.1.0
clerk-backend-api>=3.0.0
supabase==2.15.2
requests==2.32.3
psycopg2-binary==2.9.10